body {
    background-color: grey;
    text-align: center;
}

button {
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}